.THIS {
}
.THIS .separated {
		border-bottom-style: double;
		border-bottom-width: 3px;
		border-bottom-color: #030100;
}
.THIS .grayish {
		font-size: 1rem;
		font-color: #030100;
    	line-height: 1.5;
    	bgcolor: #E5E7E9;
}