.THIS .actionSelector {
	width: 200px;
	height: 200px;
	background: grey;
	position: center;
   	width: 50%;
}
.THIS .h1 {
   	text-align: center;
   	font-size: 24px;
   	font-family: "Times New Roman";
   	font-weight: bold;
   	color: white;
}
.THIS .selectButton {
	display: block;
   	text-align: center;
   	font-size: 18px;
   	font-family: "Times New Roman";
   	margin: auto;
   	width: 50%;
}
.THIS .disappear {
   	width: 0%;
}